body {
        background-color: ghostwhite;
        font-family: corbel, sans-serif;
        color: blueviolet;
}
        
canvas, input {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;   
}

canvas {
    background-color: aquamarine;
}
#canvas1 {
    z-index: 1;
}
#canvas2 {
    z-index: 0;
}
table { 
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1 {
    position: absolute;
    float: left;
}
footer {
    text-align: center;
    font-size: .8em;
}
