body {
        width: 300;
        height: 500;
        background-color: aquamarine;
        font-family: corbel, sans-serif;
}
        
canvas, input {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

h1 {
    padding-left: 10px;
   float: left;
}